

/*Header start*/

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1217px;
  height: 153px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.header__logo {
  width: 160px;
  height: 41px;
}

.header__list {
  display: flex;
}

.header__item {
  margin-left: 20px;
  margin-right: 20px;
}

.header__item:first-child {
  margin-left: 0;
}

.header__item:last-child {
  margin-right: 0;
}

.header__nav-text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: #1F1534;
  opacity: 0.5;
}

.header__nav-text_active {
  font-family: Mulish;
  font-weight: 700;
  color: #1F1534;
  opacity: 1;
}

/*Header end*/

/*Virtual Start*/

.virtual__wrapper {
  display: flex;
  text-align: center;
  max-width: 1217px;
  margin: 0 auto;
  margin-bottom: 190px;
}

.virtual__title {
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  max-width: 427px;
  margin-top: 117px;
  margin-bottom: 25px;
}

.virtual__text {
  font-family: Mulish;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
  text-align: left;
  margin-bottom: 45px;
}

.left-side {
  text-align: left;
}

.virtual__button {
  border: none;
  cursor: pointer;
  width: 200px;
  height: 60px;
  background-color: #458FF6;
  border-radius: 55px;
  text-align: center;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #FFFFFF;
}

/*Virtual end*/

/*Services start*/

.services {
  max-width: 1050px;
  margin: auto;
}

.services__top {
  width: 952px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}

.services__title {
  position: relative;
  font-family: Mulish;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 87px;
}

.services__title::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -26px;
  margin: auto;
  width: 56px;
  height: 2px;
  background: #000000;
}

.services__text {
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}

.services__bottom {
  max-width: 1120px;
  margin-bottom: 69px;
}

.services__cards {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-row-gap: 37px;
  grid-column-gap: 34px;
}

.services__card {
  width: 350px;
  height: 354px;
  padding: 54px 0 47px 39px;
  box-sizing: border-box;
}

.services__card-img-container {
  max-width: 92px;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center
}

.services__card-title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}

.services__card-text {
  max-width: 260px;
  font-family: Mulish;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}

.services__button-container {
  display: flex;
  justify-content: center;
}

.services__button  {
  width: 200px;
  height: 56px;
  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  background-color: #fff;
  color: #458FF6;
  margin-bottom: 220px;
  }

/*Services end*/

/*Leading start*/

.leading__wrapper {
  margin: 0 auto;
  max-width: 1273px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 291px;
}

.leading__right-side {
  max-width: 486px;
}

.leading__title {
  position: relative;
  margin-top: 57px;
  font-family: Mulish;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  padding-bottom: 26px;
}

.leading__title::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
  bottom: 0;
}

.leading__text {
  max-width: 450px;
  margin-top: 31px;
  margin-bottom: 37px;
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}

.leding__button {
  width: 200px;
  height: 56px;
  background-color: #FFFFFF;
  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  color: #458FF6;
  margin-bottom: 23px;
}
/*Leading end*/

/*Download start*/

.download__wrapper {
  margin: 0 auto;
  max-width: 1156px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 189px;
}

.download__left-side {
  max-width: 420px;
  margin-top: 36px;
}

.download__title {
  position: relative;
  max-width: 254px;
  font-family: Mulish;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 63px;
}

.download__title::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
  bottom: -30px;
  left: 0;
}

.download__text {
  max-width: 420px;
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  margin-bottom: 40px;
}

.download__button {
  width: 200px;
  height: 56px;
  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  background-color: #FFFFFF;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 54px;
  color: #458FF6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download__arrow {
  width: 15px;
  height: 15px;
  margin-left: 15px;
}

/*Download end*/

/*Slider start*/

.slider__wrapper {
  width: 1220px;
  height: 502px;
  margin: 0 auto;
}

.slider__card {
  box-sizing: border-box;
  width: 1120px;
  height: 425px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  padding: 64px 118px 79px;
}

.slider__card-title {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Mulish;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 93px;
}

.slider__card-title::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 6px;
  bottom: -25px;
}

.slider__card-review {
  display: flex;
  justify-content: space-between;
}

.slider__card-left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__card-photo {
  width: 141px;
  height: 141px;
  border-radius: 50%;
}

.slider__info {
  margin-left: 29px;
}

.slider__card-name {
  font-family: Mulish;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #FFFFFF;
}

.slider__card-profession {
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
}

.slider__card-right-side {
  max-width: 420px;
  display: flex;
  align-items: center;
}

.slider__card-review-text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {
  display: flex;
  position: absolute;
  bottom: -42px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
}

.slick-dots li {
  transition: 0.15s ease-in-out;
  background: #5B9BF3;
  opacity: 0.3;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0 9px;
}
.slick-dots .slick-active {
  opacity: 1;
}
.slick-dots li button {
  display: none;
}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}


/*Slider end*/

/*Конкретно этот слайдер*/

.slider__wrapper {
  position: relative;
  margin-bottom: 216px;
}

.slider__wrapper .slick-arrow {
  position: absolute;
  z-index: 10;
  bottom: -47px;
  font-size: 0;
  width: 32px;
  height: 20px;
  border: none;
}

.slider__wrapper .slick-arrow.slick-prev {
  background: url(../img/prev-arrow.svg) no-repeat;
  left: 462px;
}

.slider__wrapper .slick-arrow.slick-next {
  background: url(../img/next-arrow.svg) no-repeat;
  right: 462px;
}

/*Article start*/

.articles {
  position: relative;
  margin-bottom: 201px;
}

.article__wrapper {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__title {
  position: relative;
  font-family: Mulish;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  text-align: center;
  margin-bottom: 107px;
}

.article__title::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
  top: 82px;
  left: 0;
  right: 0;
  margin: auto;
}

.article__container-cards {
  width: 1120px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 69px;
}

.article__card {
  position: relative;
  width: 350px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  z-index: 2;
}

.article__card-img {
  width: 350px;
  height: 240px;
  border-radius: 20px 20px 0 0;
  margin-bottom: 24px;
}

.article__card-content {
  padding: 0 0 35px 33px;
  box-sizing: border-box;
}

.article__card-title {
  width: 265px;
  font-family: Mulish;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 12px;
}

.article__card-text {
  width: 266px;
  font-family: Mulish;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
  margin-bottom: 25px;
}

.article__card-link {
  text-decoration: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
}

.article__card-arrow {
  width: 15px;
  height: 10px;
  margin-left: 11px;
}

.article__element {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.article__button {
  width: 200px;
  height: 56px;
  background: #FFFFFF;
  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Article end*/

/*Footer start*/

.footer {
  width: 100%;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 432px;
  margin: 0 auto;
}

.footer__content {
  width: 1343px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left-side {
 width: 391px;
}

.footer__logo {
  width: 160px;
  height: 41px;
  margin-bottom: 17px;
}

.footer__text {
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 31px;
}

.footer__rights {
  font-family: Mulish;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer__right-side {
  width: 807px;
  display: flex;
}

.footer__list {
  width: 269px;
}

.footer__list-title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
}

.footer__list-link {
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #FFFFFF;
}

/*Footer end*/
